# Next Auth
NEXTAUTH_URL=https://your-vercel-deployment-url.vercel.app
NEXTAUTH_SECRET=your-nextauth-secret

# Google OAuth (only needed if using Google authentication)
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# Neon Database Configuration
DATABASE_URL="postgres://username:password@your-neon-db-host-pooler.aws.neon.tech/dbname?sslmode=require"
DATABASE_URL_UNPOOLED="postgresql://username:password@your-neon-db-host.aws.neon.tech/dbname?sslmode=require"
PGDATABASE="dbname"
PGHOST="your-neon-db-host-pooler.aws.neon.tech"
PGHOST_UNPOOLED="your-neon-db-host.aws.neon.tech"
PGPASSWORD="your-password"
PGUSER="username"
POSTGRES_DATABASE="dbname"
POSTGRES_HOST="your-neon-db-host-pooler.aws.neon.tech"
POSTGRES_PASSWORD="your-password"
POSTGRES_PRISMA_URL="postgres://username:password@your-neon-db-host-pooler.aws.neon.tech/dbname?connect_timeout=15&sslmode=require"
POSTGRES_URL="postgres://username:password@your-neon-db-host-pooler.aws.neon.tech/dbname?sslmode=require"
POSTGRES_URL_NON_POOLING="postgres://username:password@your-neon-db-host.aws.neon.tech/dbname?sslmode=require"
POSTGRES_URL_NO_SSL="postgres://username:password@your-neon-db-host-pooler.aws.neon.tech/dbname"
POSTGRES_USER="username"
